In [2]:
import pymysql as sql

In [6]:
db = sql.connect(host='localhost',port=3306,user='root',password='',database='world')

In [9]:
db = sql.connect('localhost','root','','world')

In [16]:
cursor = db.cursor()

In [11]:
cmd = "show tables;"
c.execute(cmd)

data = c.fetchall()
print(data)

(('city',), ('country',), ('countrylanguage',))

In [14]:
print("Tables present in DATABASE :- ")
c = 1
for item in data : 
    print(f"{c}.",*item)
    c = c + 1

Tables present in DATABASE :-
1. city
2. country
3. countrylanguage

In [18]:
#Q? how many countries are there

cmd = "select count(*) from country"
cursor.execute(cmd)
data  = cursor.fetchone()
print(*data)

239

In [28]:
#how may country speaks hindi
cmd = "select c.name,l.language from country c inner join countrylanguage l on c.code = l.countrycode where l.language='hindi'"
cursor.execute(cmd)
data = cursor.fetchall()
c = 1
for item in data : 
    print(f"{c}.",item[0].ljust(30),item[1].ljust(10),sep='\t')
    c = c + 1

1.	United Arab Emirates          	Hindi
2.	Fiji Islands                  	Hindi
3.	India                         	Hindi
4.	Jamaica                       	Hindi
5.	Mauritius                     	Hindi
6.	Nepal                         	Hindi
7.	Suriname                      	Hindi
8.	Trinidad and Tobago           	Hindi

In [29]:
db.commit()

In [30]:
cursor.close()

In [31]:
db.close()