<h1> <i>Pandas</i> </h1>

<br> 

## Series --> 1D vector (homogenous)
## DataFrame --> 2D Data Frame (hetrogenous)

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

%matplotlib inline

In [2]:
data = np.random.randint(1,10,20)
s = pd.Series(data)

In [10]:
d =  [ 1,2,3,4,5]
summation = 0 
for var in range(1000):
    summation += np.random.choice(d)

print(round(summation/1000)) # what is most probable answers of this code

3.0

In [13]:
s.index

RangeIndex(start=0, stop=20, step=1)

In [17]:
pd.RangeIndex(start=11,stop=31,step=1)

RangeIndex(start=11, stop=31, step=1)

In [33]:
s.index = pd.RangeIndex(start=11,stop=31,step=1)

In [34]:
s

11    9
12    8
13    5
14    2
15    2
16    6
17    5
18    5
19    4
20    9
21    4
22    2
23    5
24    4
25    7
26    1
27    4
28    9
29    2
30    3
dtype: int32

In [35]:
print(list(s))

[9, 8, 5, 2, 2, 6, 5, 5, 4, 9, 4, 2, 5, 4, 7, 1, 4, 9, 2, 3]

In [42]:
s.loc[20:11:-3]

20    9
17    5
14    2
11    9
dtype: int32

In [44]:
index = [ chr(var) for var in range(65,85)]
print(index)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T']

In [45]:
s.index = index

In [46]:
s[:5]

A    9
B    8
C    5
D    2
E    2
dtype: int32

In [47]:
s[::-3]

T    3
Q    4
N    4
K    4
H    5
E    2
B    8
dtype: int32

In [49]:
s.loc["A"]

9

In [50]:
s.loc["T"]

3

In [51]:
s.loc["A":"F"]

A    9
B    8
C    5
D    2
E    2
F    6
dtype: int32

In [52]:
s.loc["A"::2]

A    9
C    5
E    2
G    5
I    4
K    4
M    5
O    7
Q    4
S    2
dtype: int32

In [54]:
s.loc["T":"J":-2]

T    3
R    9
P    1
N    4
L    2
J    9
dtype: int32

In [56]:
s.iloc[3:20:5]

D    2
I    4
N    4
S    2
dtype: int32

In [58]:
np.nan
# NA value --> Not Applicable ( Missing Data)

nan

In [59]:

s.iloc[::6] = np.nan

In [60]:
s

A    NaN
B    8.0
C    5.0
D    2.0
E    2.0
F    6.0
G    NaN
H    5.0
I    4.0
J    9.0
K    4.0
L    2.0
M    NaN
N    4.0
O    7.0
P    1.0
Q    4.0
R    9.0
S    NaN
T    3.0
dtype: float64

In [62]:
#s.iloc[::6] = np.nan
#s
# s.isna()
s[s.isna()]

A   NaN
G   NaN
M   NaN
S   NaN
dtype: float64

In [63]:
len(s[s.isna()])

4

In [66]:
s1 = s[~(s.isna())]

In [67]:
s1

B    8.0
C    5.0
D    2.0
E    2.0
F    6.0
H    5.0
I    4.0
J    9.0
K    4.0
L    2.0
N    4.0
O    7.0
P    1.0
Q    4.0
R    9.0
T    3.0
dtype: float64

In [68]:
s1 = s.dropna()